
body{
	margin: 0;
}

#pageContent{
	padding: 2% 10%;
}

#background{
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,255,0,.1);
	overflow: scroll;
	font-size: 2vh;
}

.green {
	background-color: green;
}

.graph-component {
	background-color: gray;
}

.bar {
	fill: green;
	stroke: black;
	stroke-width: 3;
}

.bar:hover {
	fill: red
}

.text {
	fill:white;
	font-family: arial;
}

#mainPanel {
	margin: 0;
	height: 60%;
	width: 100%;
}
#graph {
	height: 100%;
	width: 75%;
	vertical-align: bottom;
	background-color: white;
	overflow: auto;
	border-color: grey;
  	border-width: .1vh;
  	border-style: solid;
}

#tips {
	background-color: white;
	text-align: top;
	height: 100%;
	width: 20%;
	border-color: gray;
	border-width: .1vh;
	border-style: solid;
	padding: 2%;
}

.tip{
	
	background-color: rgba(0, 255, 0,.5);
	font-size: 1.5vh;
	text-align: left;
	border-radius: 5%;
	padding: 3%;
	margin-top: 3%;
}

.tipIcon {
	max-width: 30%;
    height: auto;
}

#submitSection{
	float:left;
}
#dateSection{
	float: right;
}


@media only screen and (max-width: 900px) {
	#submitSection, #dateSection, #endDateInput, #startDateInput{
		display: block;
		float: none;
	}

	#controlPanel{
		text-align:center;
	}
}
