<!DOCTYPE html>

<html>
    <head>
        <title>Contact us page</title>
        <link rel="stylesheet" href="./style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script type="text/javascript" src="./script.js" async></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    </head>

    <body>   
        <div id='navbar'></div>

        <div id='pageContent'>
            <h2>ElecVis for better energy usage</h2>
            <div id='aboutimgs'>
                <span class='aboutimg'><img src="images/pie-chart.png"> <figcaption>Visualize</figcaption> </span>
                <span class='aboutimg'><img src="images/checked.png"> <figcaption>Get Tips</figcaption> </span>
                <span class='aboutimg'><img src="images/green-energy.png"> <figcaption>Save Energy</figcaption> </span>
            </div>
                <p>
                    ElecVis is a new energy dashboard that is meant to create a more interactive environment for power users.
                    The goal of this project is to help users to improve their energy information literacy.
                </p>
                <p>
                    Users can use the main page for submitting their CSV file which contains their energy data. 
                    They will be able to view their energy usage for whatever specific time period they choose. 
                    Data will be presented using line graph or Bar graph. Also, the tips section on the main page will show users their average monthly and daily usage.
                    It will also provide the users with some tips that help reduce energy usage if needed.
                </p>
                
        </div>

    </body>

</html>
